 <% layout("/layouts/boilerplate") %>
 <section id="page-header" class="about-header">
        
        <h2>#KnowUs</h2>
       <p>Save more with coupons & upto 70% off</p>
     
    </section>
   <section id="about-head" class="section-p1">
    <img src="/images/a6.jpg" alt="">
    <div>
      <h2>Who we are?</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure deserunt accusamus, minus officiis odit, voluptatem qui facere nisi eaque autem quas tenetur molestias. Molestias dolorum excepturi eum ratione nemo in?</p>
      <abbr title="">Create Stunning images with as much or as little control as you like thanks to a choice of Basic and creative mode</abbr>
      <br>
      <br>
      <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%" behavior="" direction="">Create Stunning images with as much or as little control as you like thanks to a choice of Basic and creative mode</marquee>
    </div>
   </section>
   <section id="about-app" class="section-p1">
    <h1>Download our <a href="#">App</a></h1>
   <div class="video">
    <video autoplay muted loop src="/images/1.mp4"></video>
   </div></section>

     <section id="news-letter" class="section-p1">
        <div class="newstext">
            <h4>Sign Up for NewsLetter</h4>
            <p>Get E-mail updates about our latest shop and <span>special offer</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your E-mail address">
            <button class="normal">Sign Up</button>
        </div>
    </section>