<% layout("/layouts/boilerplate") %>

<section id="hero" style="background-image: url('/images/hero4.png');">
    <h4>Trade-in-offer</h4>
    <h2>Super value deals</h2>
    <h1>On all products</h1>
    <p>Save more with coupons & upto 70% off</p>
    <a href="/listing" class="btn-shop-now">Shop Now</a>
</section>
    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="/images/f1.png">
            <h6>Free Shipping</h6>

        </div>
        <div class="fe-box">
            <img src="/images/f2.png">
            <h6>Online Order</h6>

        </div>
        <div class="fe-box">
            <img src="/images/f3.png">
            <h6>Save Money</h6>

        </div>
        <div class="fe-box">
            <img src="/images/f4.png">
            <h6>Promotions</h6>

        </div>
        <div class="fe-box">
            <img src="/images/f5.png">
            <h6>Happy Sell</h6>

        </div>
        <div class="fe-box">
            <img src="/images/f6.png">
            <h6>24/7 Support</h6>

        </div>
    </section>
     <section id="banner" class="section-m1">
        <h4>Repair Services</h4>
        <h2>Upto <span>70% off </span> All T-Shirts & Accesories</h2>
        <a href="/listing" class="btn-explore">Explore More</button>
    </section>
    <section id="sm-banner">
        <div class="banner-box">
            <h4>Crazy deals</h4>
            <h2>Buy 1 get 1 free</h2>
        <span>The best classic is on sale at cara</span>
        <button class="white">Learn More</button>
        </div>
        <div class="banner-box banner-box2">
            <h4>spring/summer</h4>
            <h2>Upcoming Season</h2>
        <span>The best classic is on sale at cara</span>
        <button class="white">Collection</button>
        </div>
    </section>
    <section id="banner3">
        <div class="banner-box">
            <h2>spring/summer 2025</h2>
            <h3>Trendy Accesories</h3>
       
        </div>
        <div class="banner-box banner-box2">
            <h2>Seasonal Sale</h2>
            <h3>Winter Collection -50% off</h3>
       
        </div>
        <div class="banner-box banner-box3">
            <h2>spring/summer</h2>
            <h3>Trendy Western Wear</h3>

        </div>
    </section>
    <section id="news-letter" class="section-p1">
        <div class="newstext">
            <h4>Sign Up for NewsLetter</h4>
            <p>Get E-mail updates about our latest shop and <span>special offer</span></p>
        </div>
        <form action="/subscribe" method="POST" class="form d-flex gap-2">
    <input type="email" name="email" placeholder="Your E-mail address" required class="form-control" />
    <button class="normal btn btn-success" type="submit">Sign Up</button>
</form>
    </section>

